<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body {
            background-image: url('https://i.imgur.com/54LrUKd.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            
        }

    </style>
</head>
<body>
    <nav class="nav">
        <a href="/crawls">All Crawls</a>
    </nav>
        
    <form action="/crawls/<%= crawl._id %>?_method=PUT" method="POST" class="edit-form">
        <input type="text" name="name" placeholder="New crawl name">
        <input type="date" name="date">
        <button type="submit">submit changes</button>
    </form>
</body>
</html>