<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new crawl form</h1>
    <form action="/crawls" method="POST">
        <Label>Name your crawl:
            <input type="text" name="name">
        </Label>
        <label>Date:
            <input type="date" name="date">
        </label>
        <button type=""></button>
    </form>
</body>
</html>