<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body {
            background-image: url('https://i.imgur.com/54LrUKd.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            
        }

    </style>
</head>
<body>
    <nav class="nav">
        <a href="/crawls">All Crawls</a>
    </nav>
    <div class="new-bar">
    <h3><%= crawl.name %></h3>
    <form id="add-bar-form" method="POST" action="/crawls/<%= crawl._id %>/bars">
        <label>Add Bar:</label>
        <input type="text" name="name" placeholder="Bar Name">
        <input type="text" name="address" placeholder="Address">
        <input type="submit" placeholder="Add Bar">

    </form>
    <% crawl.bars.forEach(c => { %>
        <%= c.name %>
        <form action="/bars/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE BAR</button>
        </form>
   <% }); %>
</div>
</body>
</html>