<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show page</h1>
    <form id="add-bar-form" method="POST" action="/crawls/<%= crawl._id %>/bars">
        <label>Add Bar form:</label>
        <input type="text" name="name" placeholder="Bar Name">
        <input type="text" name="address" placeholder="Address">
        <input type="submit" placeholder="Add Bar">

    </form>
    <%= crawl.bars %>
</body>
</html>