.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body {
  margin: 0;
}

.nav {
  background-color: darkgray;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.4;
}

.nav:hover {
  opacity: 1;
}

.nav a {
  display: inline-block;
  padding: 10px 10px;
  
  margin-right: 10px;
  
  text-decoration: none;
  color: black;
  
  border: 1px solid white;
  
  background-color: white;
  border-radius: 5px;
  

}

#logout {
  display: flex;
  justify-content: flex-end;
}



.login img {
  height: 19px;
  float: right;

}


body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


.crawl-index {
  text-align: center;
    display: block; 
    border: 2px solid #fff; 
    padding: 10px; 
    margin: 10px auto; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
    max-width: 400px;
    opacity: 0.7;
    border-radius: 5px;
  
}

.crawl-index:hover {
  opacity: 1;
}

.new-form {
  text-align: center;
  display: block; 
    border: 2px solid #fff; 
    padding: 10px; 
    margin: 10px auto; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
    max-width: 400px;
    opacity: 0.7;
    border-radius: 5px;
}

.new-form:hover {
  opacity: 1;
}

.new-bar {
  text-align: center;
  display: block; 
    border: 2px solid #fff; 
    padding: 10px; 
    margin: 10px auto; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
    max-width: 400px;
    opacity: 0.7;
    border-radius: 5px;
}

.new-bar:hover {
  opacity: 1;
}

.edit-form {
  text-align: center;
  display: block; 
    border: 2px solid #fff; 
    padding: 10px; 
    margin: 10px auto; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
    max-width: 400px;
    opacity: 0.7;
    border-radius: 5px;
}

.edit-form:hover {
  opacity: 1;
}